.is-fullheight {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}
.txt-orange {
  color: #fc8c03;
}
.btn-delete, .btn-add {
  width: 100%;
}
.delete {
  background-color: red;
}
.border-b {
  border-bottom: 1px solid #f5f5f5;
}
.border-t {
  border-top: 1px solid #f5f5f5;
}
.order-enter {
  transform: translateX(-120%);
  transition: 0.5s;
}
.order-enter-active {
  transform: translateX(0%);
}
.order-exit {
  transform: translateX(0%);
  transition: 0.5s;
}
.order-exit-active {
  transform: translateX(120%);
}
.fade-appear {
  opacity: 0;
  transition: 1s;
}
.fade-appear-active {
  opacity: 1;
}
.quantity-container {
  overflow: hidden;
  position: relative;
}
.quantity-enter {
  transform: translateY(100%);
}
.quantity-enter-active {
  transform: translateY(0%);
  transition: 0.5s;
}
.quantity-exit {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0%);
}
.quantity-exit-active {
  transform: translateY(-100%);
  transition: 0.5s;
}
header h1 {
  text-align: center;
}
.product {
  display: flex;
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 10px;
}
.product-image {
  padding-right: 10px;
}
.product-image img{
  max-width: 150px;
}
.product-title span{
  color: #4a4a4a;
  text-align: right;
}
.product-info p {
  font-size: 14px;
}
